__pycache__/
*.py[oc]
build/
dist/
*.egg-info/

.venv/
.python-version

.env
.env.*
!.env.example

data/**
!data/raw/
!data/raw/.gitkeep
!data/processed/
!data/processed/.gitkeep

.ipynb_checkpoints/
.ruff_cache/
.mypy_cache/
.pytest_cache/
coverage.xml
.coverage
htmlcov/

.DS_Store
.vscode/
.cursor/
.cursors/
